  <div class="p-3 title">
    <div *ngIf="deleted" class="alert alert-success">
      Reclamation Supprimée avec succès
    </div>
  <h3 style="text-align: center;" class="p-2">List des réclamations</h3>
      <table class="table table-striped table-bordered" style="text-align: center;"> 
          <thead>
            <tr>
              <th>Nom et Prénom</th>
              <th>Réclamé le</th>
              <th>Type</th>
              <th>Numero</th>
              <th>Etat</th>
              <th>Action</th>
             </tr>

          </thead>
               
          <tbody>
            <tr *ngFor="let reclamation of reclamations; let first = first">
                <td>{{reclamation.reclaimer.last_name_reclaimer}} {{reclamation.reclaimer.first_name_reclaimer}}</td>
                <td>{{reclamation.reclaimer.created_at}}</td>
                <td>{{reclamation.reclamation_type.name_reclamation_type}}</td>
                <td>{{reclamation.code_reclamation}}</td>

                <td> 
                 <div *ngFor = "let state of reclamation.reclamation_states; let first=first">  
                    <div *ngIf="first==true">
                      {{state.name_reclamation_state}}
                    </div> 
                  </div> 
                 </td>
                <td>
                    <a [routerLink]="['/reclamation',reclamation.code_reclamation]">
                        <input type="image" src="/assets/icons/show2.png">
                      </a>

                      <input (click)="deleteReclamation(reclamation)" type="image" src="/assets/icons/delete2.png">
                </td>
              </tr>
          </tbody>

      </table>
    </div>
