.okey
{
    background-image: url("/assets/icons/admin.png") no-repeat center;
	background:url("/assets/icons/admin.png") no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    margin: 0 auto;
  
}

label{
    color: white;
}

.bgcolor
{
    background: rgba(40, 48, 72,.8);
}

.allj
{
 min-height: 85vh;  
 background: linear-gradient(to bottom, #127e61, #283048);   
}