<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">Residence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item btn-outline-light">
          <a class="nav-link" routerLink="article">Afficher Articles</a>
        </li>
          <li class="nav-item btn-outline-light" *ngIf="service.isLoggedIn()">
            <a class="nav-link" routerLink="ajouterArticle">Ajouter Article</a>
          </li>
          <li class="nav-item  btn-outline-light" *ngIf="service.isLoggedIn()">
            <a class="nav-link" routerLink="modifierArticle">Modifier Article</a>
          </li>
          <li class="nav-item  btn-outline-light" >
            <a class="nav-link" routerLink="ajouterReclamation">Ajouter Réclamation</a>
          </li>
          <li class="nav-item  btn-outline-light" *ngIf="service.isLoggedIn()" >
            <a class="nav-link" routerLink="listReclamation">List Reclamations</a>
          </li>
          
        
       
      </ul>

      <div class="form-inline my-2 my-lg-0">
          <p *ngIf="service.isLoggedIn()" class="mr-sm-2 my-2" ></p>
     <!--  
       <input [(ngModel)]="search_tag" (keyup.enter)="search()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       -->
       
       <input [(ngModel)]="code_reclamation" (keyup.enter)="searchReclamation()" class="form-control mr-sm-2" type="search" placeholder="Reclamation Code" aria-label="Search">
      


      
   
    
       <button *ngIf="service.isLoggedIn()" class="btn btn-outline-light my-2 my-sm-0" (click)="logOut()" type="submit">Log Out</button>
        <button *ngIf="!service.isLoggedIn()" class="btn btn-outline-light my-2 my-sm-0" (click)="logOut()" type="submit">Login</button>
       
      
      </div>
    </div>
  </nav>